h2.font-bold.text-xl.mt-8.mb-4 New race config

= render partial: 'form', object: @race_config, as: :race_config

nav.mt-8.border-2.p-2
  = link_to 'Cancel', race_configs_path, class: 'text-orange-700 hover:underline'
